@use '../../styles/colors.scss' as colors;

.back_btn {
  background-color: rgba(0, 122, 255, 0.3);
  border-radius: 8px;
  border: 1px solid colors.$primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  svg {
    color: #fff;
  }
}
