@use '../../styles/colors.scss' as colors;

.button {
  background-color: colors.$primary-color;
  color: #fff;
  padding: 10px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: center;
  font-family: 'SFProDisplaySemibold', sans-serif;
}
