$primary-color: rgba(0, 122, 255, 0.7);
$bg-menu: #181d3b;
$blue-light: #476ad4;
$gray: #666;
$bg-dark: #0b0e1f;
$blue-dark: #202857;
$yellow: #ff9d00;
$blue: #303b7c;
$pink: #ffc8b2;
$black: #161920;
$green: #69ff91;
$red: #ff0004;
