@font-face {
  font-family: 'SFProDisplayRegular';
  src: url('../assets/fonts/SFProDisplayRegular.eot');
  src: url('../assets/fonts/SFProDisplayRegular.eot') format('embedded-opentype'),
    url('../assets/fonts/SFProDisplayRegular.woff2') format('woff2'),
    url('../assets/fonts/SFProDisplayRegular.woff') format('woff'),
    url('../assets/fonts/SFProDisplayRegular.ttf') format('truetype'),
    url('../assets/fonts/SFProDisplayRegular.svg#SFProDisplayRegular') format('svg');
}

@font-face {
  font-family: 'SFProDisplaySemibold';
  src: url('../assets/fonts/SFProDisplaySemibold.eot');
  src: url('../assets/fonts/SFProDisplaySemibold.eot') format('embedded-opentype'),
    url('../assets/fonts/SFProDisplaySemibold.woff2') format('woff2'),
    url('../assets/fonts/SFProDisplaySemibold.woff') format('woff'),
    url('../assets/fonts/SFProDisplaySemibold.ttf') format('truetype'),
    url('../assets/fonts/SFProDisplaySemibold.svg#SFProDisplaySemibold') format('svg');
}
