@use '../../shared/styles/colors.scss' as colors;

.header {
  padding: 16px;
}

.container {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
  padding-bottom: 140px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;

  font-weight: 500;

  svg {
    width: 20px;
    height: 20px;
    color: colors.$yellow;
    filter: drop-shadow(0 0 8px #ff9d00) drop-shadow(0 0 24px #ff9d00);
  }
}

.add_button {
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.roulette_wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.items_scroll {
  position: relative;
  height: 148px;
  overflow: hidden;
  background: #0a1935;
  width: 100%;
  margin: 0 auto;
  min-height: 156px;
}

.items_line {
  display: flex;
  gap: 8px;
  position: relative;
  will-change: transform;
}

.item_card {
  flex: 0 0 auto;
  min-width: unset;
  max-width: unset;
  width: unset;
  height: 124px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 8px;
  position: relative;
  transition: transform 0.2s;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.1);

  img {
    width: 72px;
    height: 72px;
    object-fit: contain;
  }

  .item_name {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 0;
    line-height: 1.1;
  }

  .item_price {
    font-size: 12px;
    font-weight: 600;
    color: #888888;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.1;
  }

  .item_image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 72px;
    height: 72px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  &.pepe {
    background: hsla(233, 41%, 17%, 1);

    background: linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(267, 54%, 21%, 1) 55%,
      hsla(292, 87%, 37%, 1) 100%
    );

    background: -moz-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(267, 54%, 21%, 1) 55%,
      hsla(292, 87%, 37%, 1) 100%
    );

    background: -webkit-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(267, 54%, 21%, 1) 55%,
      hsla(292, 87%, 37%, 1) 100%
    );
  }

  &.watch {
    background: hsla(233, 41%, 17%, 1);

    background: linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(28, 13%, 22%, 1) 55%,
      hsla(43, 74%, 36%, 1) 100%
    );

    background: -moz-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(28, 13%, 22%, 1) 55%,
      hsla(43, 74%, 36%, 1) 100%
    );

    background: -webkit-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(28, 13%, 22%, 1) 55%,
      hsla(43, 74%, 36%, 1) 100%
    );
  }

  &.cap {
    background: hsla(233, 41%, 17%, 1);

    background: linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(160, 51%, 17%, 1) 55%,
      hsla(126, 88%, 34%, 1) 100%
    );

    background: -moz-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(160, 51%, 17%, 1) 55%,
      hsla(126, 88%, 34%, 1) 100%
    );

    background: -webkit-linear-gradient(
      135deg,
      hsla(233, 41%, 17%, 1) 0%,
      hsla(160, 51%, 17%, 1) 55%,
      hsla(126, 88%, 34%, 1) 100%
    );
  }
}

.marker_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  pointer-events: none;
  top: 0;
}

.marker {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #207cff;
  margin: 0 auto;
  filter: none;
}

.marker_line {
  width: 2px;
  height: 100%;
  background: #007aff;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 122, 255, 0.5);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px;

  button {
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #007aff;
    color: white;
    border: none;
    cursor: pointer;

    &[variant='outline'] {
      background-color: transparent;
      border: 2px solid #007aff;
    }

    svg {
      width: 20px;
      height: 20px;
      color: colors.$yellow;
      filter: drop-shadow(0 0 8px #ff9d00) drop-shadow(0 0 24px #ff9d00);
    }
  }
}

.prizes_section {
  padding: 16px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.prizes_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.prize_card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  padding-top: 26px;

  img {
    width: 114px;
    height: 114px;
    object-fit: contain;
  }

  .prize_price {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(71, 106, 212, 0.1);
    border-radius: 12px;
    padding: 4px 12px 4px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;
    z-index: 2;

    svg {
      color: colors.$yellow;
      width: 22px;
      height: 22px;
      filter: drop-shadow(0 0 8px #ff9d00) drop-shadow(0 0 24px #ff9d00);
    }
  }
}

.winning_popup {
  position: fixed;
  inset: 0;
  background: rgba(10, 11, 20, 0.95);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 1000;
  padding: 24px;

  .winning_item_card {
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 100%;
    background-color: colors.$bg-menu;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
  }

  .winning_item_image {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .item_name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.1;
  }

  .item_price {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.1;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  svg {
    width: 20px;
    height: 20px;
    color: colors.$yellow;
    filter: drop-shadow(0 0 8px #ff9d00) drop-shadow(0 0 24px #ff9d00);
  }

  button {
    width: 100%;
    max-width: 280px;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
}

.winning_item_buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 24px;
}

.spin_again_button {
  background-color: transparent;
  border: 2px solid #007aff;
  color: #007aff;
  font-weight: 600;
  font-size: 16px;
  padding: 16px;
  border-radius: 12px;
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slowDown {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(-100% + var(--final-position)));
  }
}
